body {
    font-family: Arial, sans-serif;
    background-color: azure;
    margin: 0;
    padding: 20px;
}
.button-container {
    display: flex;
    gap: 20px;
}

.btn {
    position: relative;
    border-color: blue;
    color: azure;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    overflow: hidden;
    transition: color 0.3s;
    }

 
.btn::before,
.btn::after{
content: '';
position: absolute;
background-color: rgba(red, green, blue, alpha);
transition: transform 0.3;
}
.btn::before {
    top: 0;
    left: 50%;
    width: 200%;
    height: 100%;
    transform: translateX(-50%) scaleY(0);
    border-radius: 5px;
}
.btn::after {
    bottom: 0;
    left: 50%;
    width: 200%;
    height: 100%;
    transform: translateX(-50%) scaleY(0);
    border-radius: 5px;
}
.btn:hover {
    color: #17aeff;
}
.btn:hover ::before {
    transform: translateX(-50%) scaleY(0);
}
.btn:hover::after {
    transform: translateX(-50%) scaleY(0);
}
.btn:active {
    background-color: rgb(36, 207, 207);
}
.quote {
    background: #8fcbeb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(rgb(123, 85, 85), rgb(179, 213, 179), rgb(74, 74, 227), alpha);
    width: 400%;
    padding: 30px;
    position: relative;
    transition: transform 0.3 ease;
    margin-top: 100px;
}
.quote:hover {
    transform: translateY(-5px);
}
.quote p {
    font-size: 18px;
    color: #fa0000;
    line-height: 1.5;
    position: relative;
    padding: 0 20px;
}

.quote p::before {
    content: "“" ;
    font-size: 40px;
    color: aquamarine;
    position: absolute;
    left: 0;
    top: -10px;
}
.quote p ::after {
    content: "”" ;
    font-size: 40px;
    color: #000;
position: absolute;
right: 0;
bottom: -20px;
}
.quote:hover ::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 30px;
    width: 340px;
    height: 2px;
    background-color: darkgreen;
    transition: opaciti 0.3s ease;
}
.quote:hover::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 30px;
    width: 340px;
    height: 2px;
    background-color: darkgreen;
    transition: opaciti 0.3s ease;
    opacity: 1;
}
.author {
    display: block;
    margin-top: 20px;
    font-style: italic; 
    color: darkcyan;
    position: relative;
    padding-left: 30px;
}
.author::before {
    content: "-";
    font-size: 20px;
    color: #fa0000;
    position: absolute;
    left: 0;
}
