@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: black;
    text-decoration: none;
}
ul {
    list-style: none ;
}
button {
    border: none;
}
.bold{
    font-weight: 700;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 21px 12.5%;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header_name-site {
font-family: Montserrat;
font-style: Bold;
font-size: 20px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
margin-left: 10px;
}
.header__name-city {
    color: rgba(51, 51, 51, 1);

font-family: Montserrat;
font-style: Regular;
font-size: 13px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.header__search {
    position: relative;
}
.header__input-search {
border: 1px solid rgba(236, 236, 236, 1);
border-radius: 3px;
background: rgba(250, 250, 250, 1);
padding: 0px 0px 0px 17px;
width: 575px;
height: 42px;
}
.header__category-search {
    position: absolute;
    right: 59px;
    top: 10px;
    color: rgba(51, 51, 51, 1);
    font-family: Montserrat;
    font-style: Regular;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.header__icon-search {
    position: absolute;
    right: 0;
    padding: 12.5px 16px;
}
.header__contacts {
    display: flex;
    align-items: center;
}
.header__block-contact {
    margin-right: 44px;
}
.header__tel-contact {
    color: rgba(34, 34, 34, 1);
font-family: Montserrat;
font-style: Bold;
font-size: 16px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0%;
text-align: left;
}
.header__text-contact {
color: rgba(43, 184, 74, 1);

font-family: Montserrat;
font-style: Regular;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0%;
text-align: left;
display: flex;
align-items: center;
}
.header__point-contact {
display: block;
width: 8px;
height: 8px;
background: rgba(43, 184, 74, 1);
border-radius: 50%;
margin-right: 4px;
}
.header__button-contact {

width: 148px;
height: 42px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 10px 15px 10px 15px;
color: rgba(255, 255, 255, 1);
font-family: Montserrat;
font-style: Regular;
font-size: 10px;
font-weight: 400;
line-height: 12px;
letter-spacing: 8%;
text-align: left;
text-transform: uppercase;
border-radius: 2px;
background:  rgba(122, 76, 217, 1);

}
.navigation{
    background: rgba(122, 76, 217, 1);
    padding: 17px 0;
}
.navigation__menu {
display: flex;
justify-content: center;
}
.navigation__link {
color: rgba(255, 255, 255, 1);
font-family: Montserrat;
font-style: Bold;
font-size: 13px;
font-weight: 700;
line-height: 17.3px;
letter-spacing: 1.2px;
text-align: center;
text-transform: uppercase;
}
.navigation__item {

    margin: 0 38px;
}
.navigation__link-icon{
margin-right: 6px;
}
.home {
    background-image:url("../images/banner bez zencina.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 596px;
    overflow: hidden;
    position: relative;
}
.home__content{
width: 30%;
margin-left: 100px;
}
.home__image{
   height: 120%;
}
.home__name {
color: rgba(32, 32, 32, 1);
font-family: Montserrat;
font-style: Regular;
font-size: 11px;
font-weight: 400;
line-height: 14.29px;
letter-spacing: 0.8px;
text-align: left;
text-transform: uppercase;
margin-bottom: 19px;
}
.home__offer {
color: rgba(32, 32, 32, 1);
font-family: Montserrat;
font-style: Regular;
font-size: 34px;
font-weight: 400;
line-height: 39.1px;
letter-spacing: 0%;
text-align: left;
}
.home__action{
color: rgba(51, 51, 51, 1);
font-family: Montserrat;
font-style: Regular;
font-size: 15px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
margin-top: 19px;
margin-bottom: 32px;
} 
.home__callback{
width: 509px;
border-radius: 8px;
padding: 24px;
border-radius: 8px;
box-shadow: 0px 16px 53px 0px rgba(255, 255, 255, 0.107);
background: rgb(255, 255, 255);
}
.home__callback-action {
color: rgba(56, 56, 56,1);
font-family: Montserrat;
font-style: Regular;
font-size: 22px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 26px;
}
.home__callback-input{
width: 200px;
height: 50px;
padding: 0px 16px 0px 16px;
box-sizing: border-box;
border: 1px solid rgba(236, 236, 236, 1);
border-radius: 3px;
background: rgba(250, 250, 250, 1);
margin-right: 18px;
}
.home__callback-button{
width: 179px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
padding: 16px 28px 16px 28px;
border-radius: 2px;
background:  rgba(122, 76, 217, 1);
color: rgba(255, 255, 255, 1);
font-family: Montserrat;
font-style: Regular;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}
.Home__callback-form{
display: flex;
justify-content: center;
}
.home.callback-privacy-policy {
font-family: Montserrat;
font-style: Medium;
font-size: 13px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
margin-top: 26px;
color: rgba(117, 117, 117, 1);

}
.home.callback-privacy-policy-link{
   color: rgba(123, 72, 232, 1);
}
.home__points{
    display: flex;
    position: absolute;
    bottom: 28px;
    left: calc(50% -64px / 2);
}
.home__point{
width: 12px;
height: 12px;
border-radius: 6px;
background: rgb(255, 255, 255,1);
margin: 0 7px;
border: 2px solid rgba(0, 0, 0, 0.1);
}
.home__point--active {
    background: rgba(122, 76, 217, 1);  
}
.home__lines {
position: absolute;
left:-617px;
width:952px;
height:-547px;
}

.catalog__container {
    max-width: 1347px;
    margin: 0 auto;
    padding-top: 76px;
}
.catalog__title{
display: flex;
justify-content: space-between;
}
.catalog__name {
    color: rgba(51, 51, 51, 1);
    font-family: Montserrat;
    font-style: Regular;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.02px;
    letter-spacing: 0%;
    text-align: left;
}
.catalog__container {
    max-width: 1347px;
    margin: 0 auto;
    padding-top: 76px;
}
.catalog__allcatalog-link {
    color: rgba(153, 153, 153, 1);
    font-family: Montserrat;
    font-style: Regular;
    font-size: 10px;
    font-weight: 400;
    line-height: 13.01px;
    letter-spacing: 0.8px;
    text-align: left;
    text-transform: uppercase;
}
.catalog__grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
margin-top: 39px;
}


.catalog__container{
width: 1347;
margin: 0 auto;
padding-top: 70px;
padding-bottom: 60px;
}

.catalog__grid-item {
border: 1px solid rgb(236, 236, 236, 1);
height: 180px;
padding: 24px;
display: flex;
align-items: flex-start;
overflow: hidden;
}
.catalog__grid-elements{
display: flex;
flex-direction: column;
}
.catalog__image{
    margin-right: 15px;
}
.catalog__grid-name{
    color: rgba(51, 51, 51, 1);
    font-family: Montserrat;
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}
.catalog__grid-link{
    color: rgba(138, 66, 249, 1);
    font-family: Monsserat;
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}
.catalog__grid-link-hidden{
     background:  linear-gradient(180deg, rgba(138, 66, 249, 1 ) 0%,rgba(255, 255, 255, 1) 72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
} 
.getcatolog{
    margin-bottom: 96px;
}
.getcatolog__content{
    border-radius: 8px;
background: rgba(248, 248, 248, 1);
max-width: 1348px;
margin: 0 auto;
display: flex;
 align-items: center;
 padding: 79px 0 79px 112px;
}
.getcatolog__title{
color: rgba(56, 56, 56, 1);
font-family: Montserrat;
font-style: Medium;
font-size: 34px;
font-weight: 500;
line-height: 41px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 20px;
}
.getcatolog__description{
color: rgba(32, 32, 32, 1);
font-family: Montserrat;
font-style: Medium;
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 32px;
}
.getcatolog__button{
border-radius: 4px;
background: rgba(122, 76, 217, 1);
padding: 32px;
color: rgba(255, 255, 255, 1);
font-family: Montserrat;
font-style: Medium;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
width: max-content;
}
.getpens{

}
.getpens__title{
height: 42px;
text-align: center;
font-size: 25px;
}
.getpens__image{
width: 322px;
border: 2px solid black;
}
.getpens__grid-content{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
margin: 0 auto;
gap: 20px;
max-width:1348px ;
margin-bottom: 96px;
}
.longbanner{
background-color: #E6DEF7;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 96px;
padding-top: 19px;
padding-bottom: 28px;
position: relative;
overflow: hidden;
}
.longbanner__image-left{
position: absolute;
left: -720px;
bottom: -293px;
}
.longbanner__image-right{
position: absolute;
right: -574px;
bottom: -332px;
}
.longbanner__item{
width: 178px;
display: flex;
flex-direction: column;
align-items: center;
margin: 0 21px;
z-index: 1;
}
.longbanner__text{
text-align: center;
font-family: Montserrat;
font-size: 15px;
font-weight: 700;
line-height: 20px;
}
.longbanner__circle{
width: 95px;
height: 95px;
border-radius: 50%;
border: 13px solid #F4F1FC;
background-color: #7A4CD9;
display: flex;
justify-content: center;
align-items: center;
}




































































































































