@import url('fonts.css');
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
a {
    color: #000;
    text-decoration: none;
}
ul {
    list-style: none;
}
button {
    border: none;
}

.bold {
    font-weight: 700;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 12.5%;
    
}

.header__logo {
display: flex;
align-items: center;
}

.header__name-site {
font-family: Montserrat;
font-style: Bold;
font-size: 20px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
margin-left: 10px;

}

.header__name-sity    {
    color: rgba(51, 51, 51, 1);
font-family: Montserrat;
font-style: Regular;
font-size: 13px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left; 
}

.header__searh {
    position: relative;
}

.header__input-searh {
width: 575px;
height: 42px;
box-sizing: border-box;
border: 1px solid rgba(236, 236, 236, 1);
border-radius: 3px;
padding: 0px 0px 0px 17px;
background: rgba(250, 250, 250, 1);
}

.header__category-searh {
    position: absolute;
    right: 59px;
    top: 10px;
    color: rgba(51, 51, 51, 1);
font-family: Montserrat;
font-style: Regular;
font-size: 13px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}


.header__icon-searh {
    position: absolute;
    right: 0;
    padding: 12.5px 16px;
}


/* ФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФ */

































/* ФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФФ// */

.navigation {
    background: rgba(122, 76, 217, 1);
    padding: 17px 0;
}
 .navigation__menu {
display: flex;
justify-content: center;
 }
.navigation__link {
color: rgba(255, 255, 255, 1);
font-family: Montserrat;
font-style: Bold;
font-size: 13px;
font-weight: 700;
line-height: 17.3px;
letter-spacing: 1.2px;
text-align: center;
text-transform: uppercase;
}
.navigation__item {
margin: 0 38px;
}
.navigation__link-icon {
margin-right: 6px;
}

.home {
    background-image:url("../images/banner bez zencina.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 596px;
    overflow: hidden;
    position: relative;
}
.home__image {
height: 120%;
}
.home__content{
width: 30%;
margin-left: 100px;
}
.home__name {
color: rgba(32, 32, 32, 1);
font-family: Montserrat;
font-style: Regular;
font-size: 11px;
font-weight: 400;
line-height: 14.29px;
letter-spacing: 0.8px;
text-align: left;
text-transform: uppercase;
margin-bottom: 19px;
}
.home__offer {
color: rgba(32, 32, 32, 1);
font-family: Montserrat;
font-style: Regular;
font-size: 34px;
font-weight: 400;
line-height: 39.1px;
letter-spacing: 0%;
text-align: left;
}
.home__action{
color: rgba(51, 51, 51, 1);
font-family: Montserrat;
font-style: Regular;
font-size: 15px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
margin-top: 19px;
margin-bottom: 32px;
} 
.home__callback {
width: 509px;
padding: 24px;
border-radius: 8px;
box-shadow: 0px 16px 53px 0px rgba(0, 0, 0, 0.08);
background: rgba(255, 255, 255, 1);
}
.home__callback-action {
color: rgba(56, 56, 56, 1);
font-family: Montserrat;
font-style: Regular;
font-size: 22px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 26px;
}
.home__callback-input{
width: 200px;
height: 50px;
padding: 0px 16px 0px 16px;
box-sizing: border-box;
border: 1px solid rgba(236, 236, 236, 1);
border-radius: 3px;
background: rgba(250, 250, 250, 1);
margin-right: 18px;
}
.home__callback-button{
width: 179px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
padding: 16px 28px 16px 28px;
border-radius: 2px;
background:  rgba(122, 76, 217, 1);
color: rgba(255, 255, 255, 1);
font-family: Montserrat;
font-style: Regular;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}
.home__callback-form {
display: flex;
justify-content: center;
}
.home__callback-privacy-policy{
color: rgba(117, 117, 117, 1);
font-family: Montserrat;
font-style: Medium;
font-size: 13px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
margin-top: 26px;
}
.home__callback-privacy-policy-link{
color: rgba(123, 72, 232, 1)
}
.home__points{
display: flex;
position: absolute;
bottom: 28px;
left: calc(50%-64px / 2);
}
.home__point{
width: 12px;
height: 12px;
border-radius: 6px;
background: rgba(255, 255, 255, 1);
margin: 0 7px;
border: 2px solid rgba(0, 0, 0, 0.1);
}
.home__point--active{
background: rgba(122,76 ,217 ,1 );
}
.home__lines {
position: absolute;
left: -617px;
width: 952px;
height: -547px;
}

.catalog__container{
    width: 1347px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 60px;
}
.catalog__title{
    display: flex;
    justify-content: space-between;
}
.catalog__name{
color: rgba(51, 51, 51, 1);
font-family: Montserrat;
font-style: Regular;
font-size: 24px;
font-weight: 400;
line-height: 27.02px;
letter-spacing: 0%;
text-align: left;
}
.catalog__allcatalog-link{
 color: rgba(153, 153, 153, 1);
font-family: Montserrat;
font-style: Regular;
font-size: 10px;
font-weight: 400;
line-height: 13.01px;
letter-spacing: 0.8px;
text-align: left;
text-transform: uppercase;
}
.catalog__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 39px;
}
.catalog__grid-item{
    border: 1px solid rgba(236,236, 236, 1);
    height: 180px;
    padding: 24px;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}
.catalog__grid-elements{
    display: flex;
    flex-direction: column;
}
.catalog__image{
    margin-right: 15px;
}
.catalog__grid-name{
    color: rgba(51, 51, 51, 1);
    font-family: Montserrat;
    font-style: Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}
.catalog__grid-link{
    color: rgba(138, 66, 249, 1);
    font-family: Monsserat;
    font-style: Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}
.catalog__grid-link-hidden{
    background:  linear-gradient(180deg, rgba(138, 66, 249, 1 ) 0%,rgba(255, 255, 255, 1) 72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
} 
.getcatalog__content{
    border-radius: 8px;
    background: rgba(248, 248, 248, 1);
    max-width: 1348px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 79px 0 79px 112px;
}
.getcatalog__title{
    color: rgba(56, 56, 56, 1);
    font-family:Montserrat;
     font-style: Medium;
     font-size: 34px;
     font-weight: 500;
     line-height: 41px;
     letter-spacing: 0%;
     text-align: left;
     margin-bottom: 20px;
}
.getcatalog__description{
     color: rgba(32, 32, 32, 0.5);
    font-family:Montserrat;
     font-style: Medium;
     font-size: 18px;
     font-weight: 500;
     line-height: 28px;
     letter-spacing: 0%;
     text-align: left;
     margin-bottom: 32px;
}
.getcatalog__button{
border-radius: 4px;
background: rgba(122, 76, 217, 1);
padding: 32px;
color: rgba(255, 255, 255, 1);
font-family:Montserrat;
font-style: Medium;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
width: max-content;
}













































































































































