* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgb(240, 240, 240);
color: #360087;
line-height: 1.6;
padding: 20px;
}
  .container {
max-width: 1200px;
margin: 0 auto;
padding: 0 15px;
  }
.page-title {
font-style: 2.5em;
font-weight: 700;
text-align: center;
margin-bottom: 10px;
color: #05238f;
}
.page-subtitle {
text-align: center;
color: #09ff00;
margin-bottom: 40px;
font-size: 1.1em;
}
.products {
display: grid;
grid-template-columns: repeat(auto-fill , minmax(320px,1fr));
gap: 30px;
margin-bottom: 40px;
}
.product-card {
background-color: #fff;
 border-radius: 12px;
overflow: hidden;
box-shadow: 0px  5px 15px rgba(0,0,0,0,08);
transition: transform 0.3s ease, box-shadow 0.3s ease;
display: flex;
flex-direction: column;
}
.product-card:hover {
transform: translateY(-8px);
box-shadow:  0 16px 30px rgba(0,0,0,0.012);
}
 .product-card__image-wrapper {
overflow: hidden;
height: 220px;
 }
.product-card__image {
width: 100%;
height: 100%;
object-fit: cover;
transition: transform 0.5s ease;
}
.product-card:hover .product-card__image {
transform: scale(1.05);
}
.product-card__content {
padding: 20px;
flex-grow: 1;
display: flex;
flex-direction: column;
}
.product-card__category {
font-size: 0.85em;
color: #000;
text-transform: uppercase;
letter-spacing: 0.5px;
margin-bottom: 8px;
font-weight: 600;
}
.product-card-title {
font-size: 1.3px;
font-weight: 700;
margin-bottom: 17px;
color: #000;
line-height: 1.3;
flex-grow: 0;
}
.product-card__descrption {
color: #000;
font-size: 0.95em;
margin-bottom: 20px;
line-height: 1.5;
flex-grow: 1;
}
.product-card__price {
    margin-bottom: 20px;
}
.product-card__old-price {
font-size: 1.2em;
font-weight: 800;
text-decoration: line-through;
color: #000;
margin-right: 10px;
}
.product-card__current-price {
font-size:1.8em ;
font-weight: 800;
color: #000;
margin-right: 10px;
}
.product-card__actions {
display: flex;
gap: 10px;
margin-bottom: 20px;
}
.product-card__button {
padding: 12px 20px;
border-radius: 8px;
border: none;
font-weight: 600;
cursor: pointer;
transition:all 0.3ease;
display: flex;
align-items: center;
justify-content: center;
gap: 8px;
font-size: 0.95em;
flex: 1;
}













